@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the document to be exactly the window size */
html, body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background-color: #F5F5F7;
}

/* Force the React Root to fill that space */
#root {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

/* Reset fonts */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
}
